<div class="row">
  <div class="col-xs-10">
    <app-slist-edit></app-slist-edit>
    <hr>
    <ul class="list-group">
      <a href="#" class="list-group-item" style="cursor: pointer"></a>
    </ul>
  </div>

</div>
