<div class="container">
  <div class="row">
    <div class="col-md-12">

        <app-header></app-header>



    <app-slist></app-slist>
    <app-slist-edit></app-slist-edit>





<div class="row">
  <div class="col-md-7">
<app-rlist></app-rlist>
  </div>
  <div class="col-md-5">
<app-ridetail></app-ridetail>
  </div>
</div>

      </div>

    </div>

  </div>
